<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realchat | Login</title>
    <link rel="stylesheet"  href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/IMG/chat.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
         <div class="cadastro-container">
          <form method="post" action="/cadastro" class="cadastro-container" id="cadastro-form"> 
            <h1>Cadastro</h1>
            <span>Insira seus dados</span>
            <div class="inputGroup">
            <input type="text" name="nome" class="form-control" placeholder="Nome Completo" required/>
            <input type="text" name="username" class="form-control" placeholder="Nome de usuário" required/>
            <input type="email" name="email" class="form-control" placeholder="Email" required/>
            <input type="text" id="cpf" name="cpf" class="form-control" placeholder="CPF" required/>
            <input type="date" id="idade" name="idade" class="form-control" placeholder="Data de nascimento" required/>

            <input type="password" name="senha" class="form-control" minlength="8" maxlength="8" id="senhaTrocaCadastro" placeholder="Informe a senha" required />
          </div>
            <button type="submit" class="button" id="btn-cadastrar">Cadastrar</button>
          </form>
        </div>

          <div class="login-container">
          <form method="post" action="/loginValida" class="cadastro-container" id="login-form"> 
            <h1>Login</h1>
            <span>Insira seus dados</span>
            <div class="inputGroup">
            <input type="text" name="username" class="form-control" placeholder="Nome de usuário" required/>
            <input type="password" name="senha" class="form-control" minlength="8" maxlength="8" id="senhaTrocaCadastro" placeholder="Informe a senha" required />
          </div>
            <button type="submit" class="button" id="btn-login">Login</button>
          </form>

        </div>
  </body>
</html>